body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.hidden { display: none; }

#joinScreen {
  padding: 20px;
}

#chatScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 10px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin: 6px;
  padding: 8px;
  max-width: 70%;
  border-radius: 8px;
}

.self {
  background: #2563eb;
  margin-left: auto;
}

.other {
  background: #334155;
}

.inputBox {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  margin-left: 6px;
  padding: 8px;
}